flask
mysql-connector-python
openai
python-dotenv
pandas
requests
flask_jwt_extended
matplotlib
statsmodels
#psycopg2
psycopg2-binary
torch
TTS
ollama
Flask-SQLAlchemy
vosk
transformers
unidecode
rapidfuzz