flask
python-dotenv
pandas
requests
flask_jwt_extended
matplotlib
statsmodels
psycopg2-binary
ollama
Flask-SQLAlchemy
transformers
unidecode
rapidfuzz
scikit-learn
skforecast
skforecast[plotting]